.pt-6 {
  padding-top: 4.5rem;
}
.w-fit {
  width: fit-content;
}
.bg-secondary-custom {
  background-color: #00000008;
}
.bg-transparent {
  background-color: transparent;
}
.text-secondary-custom {
  color: #00000080;
}
.form-control:focus {
  box-shadow: none;
  color: #00000080;
}
.tw-aside{
  position: sticky;
  bottom: 0;
}

p, h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
}

.form-control.without-border {
  border-radius: 0px;
  border-top-width: 0 !important;
  border-right-width: 0 !important;
  border-bottom-width: 1px !important;
  border-left-width: 0 !important;
}

.vertical-menu-items:hover {
  background-color: #00000008 !important;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}